.card {
  &_container {
    width: 100%;
    margin: rem-calc(20);
    @include lg-down {
      margin: rem-calc(20) 0;
    }
  }
  &_image {
    max-width: rem-calc(300);
    height: rem-calc(215);
  }
  &_content {
    margin: rem-calc(32) rem-calc(48);
  }
}
