.geography {
  &_container {
    padding: rem-calc(32) rem-calc(40);
    background-color: $secondary;
    font-family: 'Souvenir', sans-serif;
  }
  &_content {
    @include lg-down {
      flex-direction: column;
    }
  }
  &_title {
    margin-bottom: rem-calc(40);
  }
  &_card {
    background: $white;
  }
}
