.how-it-works {
  &_container {
    padding: rem-calc(32);
    font-family: 'Souvenir', sans-serif;
  }
  &_content {
    padding: rem-calc(32);
  }
  &_card {
    border-right: rem-calc(1) solid $dark-secondary;
    &:last-child {
      border-right: 0;
    }
  }
}
