@import './palette.scss';

//Height

.full-height {
  height: 100%;
}

// Flexbox shared
.flex {
  display: flex;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
  &-baseline {
    vertical-align: baseline;
  }
}

.direction-column {
  flex-direction: column;
}

// Button classes
.button {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background: none;
  cursor: pointer;
  &:active,
  &:visited,
  &:hover,
  &:focus {
    border: none;
    outline: none;
    background: none;
  }
}

.icon-button {
  font-size: 1.5rem;
  color: $primary;
}

.button-primary {
  background-color: $primary;
  color: $secondary;
  letter-spacing: 0.3px;
  padding: 0 4rem;

  @media screen {
  }
}

// Text classes
.text-center {
  text-align: center;
}
