@import './../../theme/palette.scss';
@import './../../theme/breakpoints.scss';
@import './../../theme/helpers.scss';

.header {
  height: 64px;
  width: 100vw;
  background-color: $secondary;
}

.logo {
  &_container {
    margin-left: rem-calc(32);
  }
}

.navigation {
  &_container {
    @include lg-down {
      display: none;
    }
  }
  &_link {
    padding: 0 rem-calc(32);
  }
}

.hamburger-menu {
  &_container {
    width: 40%;
    min-width: rem-calc(250);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $secondary;
    @include lg-up {
      display: none;
    }
  }
  &_logo {
    margin-top: rem-calc(-3);
  }
  &_icon {
    width: rem-calc(32);
    height: rem-calc(32);
  }
  &_close {
    padding: 0 rem-calc(8) 0 rem-calc(42);
  }
  &_item {
    margin: rem-calc(10) rem-calc(20);
    padding: rem-calc(15) rem-calc(5);
    color: $text-secondary;
    line-height: rem-calc(18);
    border-bottom: rem-calc(1) solid $dark-secondary;
  }
}
