@import './../../theme/palette.scss';
@import './../../theme/breakpoints.scss';
@import './../../theme/helpers.scss';

.foreword {
  &_container {
    padding: rem-calc(80) rem-calc(32);
    background: $dark-secondary;
    @include lg-down {
      padding: rem-calc(64) rem-calc(16);
    }
  }
  &_image {
    max-height: rem-calc(192);
    @include lg-down {
      display: none;
    }
  }
  &_image_cabin {
    margin: rem-calc(26) 0;
    transform: scale(-1, 1);
  }
  &_image_trees {
    transform: scale(2);
  }
  &_text_container {
    margin: 0 rem-calc(48);
  }
  &_text {
    font-family: Souvenir, sans-serif;
    color: $text;
  }
  &_title {
    font-size: rem-calc(50);
    margin-bottom: rem-calc(16);
    @include lg-down {
      font-size: rem-calc(32);
    }
  }
  &_caption {
    font-size: rem-calc(26);
    line-height: rem-calc(42);
    @include lg-down {
      font-size: rem-calc(18);
      line-height: rem-calc(32);
    }
  }
}
